/*
* @Author: liyue2018
* @Date:   2018-04-08 16:43:53
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-05-22 19:10:55
*/



html {
    font-size: 16px;
}

body{
    background: #f5f5f5;
    color: #333;
}

// 设置字体
@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}
@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}



// 音乐导航

.music-nav{
    width:80%;
    margin:0 auto;
    overflow-y:hidden;
    z-index:3;
    ul{
        margin-bottom:0;
    }
    .nav-item{
        height:100%;
        width:16%;
        float:left;
        text-align:center;
        padding: 0.4rem 0;
        background: #333;
        border:{
            right: 1px solid #fff;
        }
        position:relative;
        a{
            position:relative;
            z-index:3;
            color:#fff;
            text-decoration:none;
        }
        span{
            display:block;
            position:absolute;
            top: 60px;
            background:rgb(69,137,148);;
            width:100%;
            height:100%;
        }
    }
}

// 箭头

.arrow{
    display:none;
    span.glyphicon{
        position:absolute;
        top: 50%;
        background:rgba(255,255,255,.3);
        width:2rem;
        height:2rem;
        text-align:center;
        padding: 0.8rem 0;
    }
    .arrow-left{
        left:1rem;
    }
    .arrow-right{
        right:1rem;
    }
}

// 手风琴效果

.squeezebox{
    // width: 100%;
    // margin: 0 auto;
    height: 200px;
    .item{
        width:200px;
        height:100%;
        float:left;
    }
}

.main-nav {
     margin:{
        top: 3rem;
        left: 1rem;
     }

    li {
    margin:{
        right: .4rem;
    }
    a{
    border-radius: .2rrem;
    font-weight:800;
    text-transform: uppercase;
    padding: .3rem 2rem;
    font-size: 1.2rem;
    &.current{
        background:#fc0;
        color:#333;
       }
    }
  }
}


.intro h1{
    text-align:center;
    font-weight: lighter;
    font-size: 3rem;
    margin-top:.6rem;
}

.features{
    font-size: 1rem;
    margin: 3rem 0 4rem;
}

.quickstart{
    padding: 3rem 0;
    background: #3F1F1F;
    box-shadow: inset 0 3px 10px rgba(0,0,0,.4);
    h4{
        font-size: 1.4rem;
    }
}
.code{
    padding-left: 2rem;
}

.pink,.red{
    background: pink;
    height: 50px;
    margin:{
        bottom: 1rem;
    }
    display:none;
    color: #333;
    padding: 0.3rem;
    border-radius: 4px;
}

// 手风琴效果2

.parentWrap{
    width: 100%;
    overflow:hidden;
    border:1px solid #ddd;
    margin:1rem auto;
    .menuGroup{
        width:100%;
        .groupTitle{
            display:block;
            background:#ece0ff;
            width:100%;
            padding: 0.3rem 0;
            text-align:center;
            border:{
                bottom:2px solid #ccc;
            }
        }
        .content{
            display:none;
            width:100%;
            height:6rem;
            padding:0.3rem;
        }
    }
}
.menuGroup:first-child .content{
    display:block;
}

// tab选项卡
.my-tab{
    height:auto;
    overflow:hidden;
    margin:{
        top: 1rem;
    }
    .tab-item{
        float:left;
        width: 10%;
        text-align:center;
        padding: 0.4rem 0.5rem;
        background: rgba(0,0,0,.2);
        margin: 0 0.3rem;
        border-radius: 4px;
        color: #fff;
        border-top: 2px solid #f5f5f5;
        &:hover{
            background: rgba(0,0,0,.3);
        }
        span.glyphicon{
            padding:{
                right: 0.3rem;
            }
        }
    }
    .active{
            border-top-color:#fc0;
            span.glyphicon{
                color: #fc0;
            }
        }
}
.products{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    .product-item{
        height: 100%;
        float:left;
        display:none;
        img{
        width:100%;
        height: 100%;
      }
    }
  .product-item.selected{
            display:block;
        }
}
// 突出展示案例

.exhibition-box{
    margin:{
        top: 2rem;;
    }
    li{
        float:left;
        height:200px;
        border:1px solid #333;
        padding: 0.3rem;
        // opacity:0.2;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }
    }
}

// 下拉菜单

.menu-wrapper{
    width:100%;
    margin:{
        top: 2rem;
        left:auto;
        right:auto;
    }
    .first-menu-item{
        float:left;
        width:5rem;
        line-height:2.4;
        text-align:center;
        background:rgba(0,0,0,.55);

        &:hover{
            background:rgba(0,0,0,.7);
        }
        a{
            color:#fff;
            text-decoration:none;
        }
        .second-menu{
            border: 1px solid #f1f1f1;
            display:none;
        }
        .second-menu-item{
            width: 100%;
            background:#fff;
            padding: 0.2rem 0;
            border:{
                bottom:1px solid #f1f1f1;
            }
            box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
            &:last-child{
                border-bottom:none;
            }
            a{
                color: #333;
            }
        }
    }
}


// 美女相册

.imagegallery{
    margin:1rem auto;
    h3.title{
        margin:{
            bottom: 1rem;
        }
    }
    .small-image{
        border: 1px solid #f5f5f5;
        border-radius:5px;
        .item{
            width: 8rem;
            height: 6rem;
            float:left;
            margin:{
                right: 1rem;
                bottom: 0.5rem;
            }
            img{
                width:100%;
                height:100%;
            }
        }
    }
    .large-image{
        width: 100%;
        height: 18rem;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }
    }
    .desc{
        margin:{
            top:0.5rem;
        }
    }
}


// 全选和反选按钮

.btn-wrapper{
    margin: 1rem auto;
    .title{
        margin:{
            bottom:1rem;
        }
    }
    .select-btns{
        margin:{
           bottom: 1rem;
    }

  }
  
}

//全选表单

.select-table{
    margin:{
        top:1rem;
    }
    border:{
        bottom: 1px solid #f1f1f1;
    }
}

// 城市选择
.city-select{
    h3{
       margin:{
           bottom: 1rem;
        }
    }
   .src-city,.tar-city{
    display:inline-block;
    width::10rem;
    height:10rem;
    padding: 1rem;
    text-align:center;
   }
   .btn-box{
    display:inline-block;
    vertical-align:top;
    button{
        display:block;
        width: 2rem;
        padding:0.3rem 0;
      }
   }
}

// 淘宝精品案例

.taobao-box{
    width:60%;
    height:15rem;
    overflow:hidden;
    border: 1px solid rgb(252,157,154);
    margin: 2rem auto;
    .left-wrapper,.right-wrapper{
        // width: 10%;
        height:100%;
        float:left;
        padding:0;
        line-height:3;
        li{
            padding:0.5rem 0;
            height:20%;
            text-align:center;
            background:rgb(255,245,247);
            border:{
                bottom: 1px solid rgb(252,157,154);
            }
            &:last-child{
                border:0;
            }
            a{
                color:#333;
                text-decoration:none;
             }
        }
        li.active{
            background:rgb(254,67,101);
            color:#fff;
            a{
                color:#fff;
            }
        }
    }
    .center-wrapper{
        float:left;
        overflow:hidden;
        padding:0;
        height:100%;
        li{
            height:100%;
        }
        img{
            width:100%;
            height:100%;
        }
    }
}

// 评论发布案例

.comments-wrapper{
    .comment{
    display:block;
    width: 20rem;
    height: 4rem;
    border-radius: 4px;
    border-color: #ccc;
    resize:none;
    padding: 0.3rem;
    &:hover{
        outline:none;
    }
 }
 .send-btn{
    margin:{
        top:0.5rem;
    }
 }
}

// 弹幕效果
.barrage{
    height:14rem;
    position:relative;
    border:1px solid #ccc;
    border-radius:4px;
    margin:{
        top:1rem;
    }
    .area{
        width:100%;
        position:relative;
        height:12rem;
        padding-bottom:2rem;
        overflow:hidden;
        }
    .main-content{
        background:#ddd;
        text-align:center;
        width:100%;
        position:absolute;
        bottom:0;
        padding:0.3rem;
        .title{
            display:inline-block;
        }
        .barrage-text{
            padding:0.3rem;
            width: 20%;
            border-radius: 3px;
            border: 0;
            outline:none;
        }
        .submit-btn{}
    }
}

// 固定导航
.header{
    height:6rem;
    overflow:hidden;
    img{
        width:100%;
        height:100%;

    }
}

// 回到顶部按钮
.go-top{
    position:fixed;
    bottom:10%;
    right:2%;
    display:none;
    .go-top-btn{
        display:inline-block;
        text-align:center;
        width: 1.4rem;
        height:1.4rem;
        border-radius:4px;
        border:1px solid #f1f1f1;
        background:#fff;
        font-size:1rem;
        color:#ccc;
        &:hover{
            color:#333;
        }
    }
}


// 星际评分

.stars-list{
    li.item{
        display:inline-block;
        margin:0 0.2rem;
        font-size:1rem;
        color:#fa709a;
    }
}

//显示不同透明度

.opacity-wrapper{
    li.item{
        background:#fa71cd;
        height:200px;
        text-align:center;
        line-height:10;
        color:#f1f1f1;
    }
}

//jquery.color.js

.color_js{
    width: 80%;
    height: 8rem;
    background:#f9d423;
}







