/*
* @Author: liyue2018
* @Date:   2018-05-22 14:38:24
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-05-26 11:06:03
*/

.jk-main-content{
    .well{
        margin-top: 2rem;
    }
}

// jk-docs-nav

.jk-docs-nav{
    background:#fff;
    margin-bottom:0;
    a{
        color:#563d7c;
        font-weight:500;
    }
    .navbar-header{
        .navbar-toggle{
            border-color:#ddd;
            .icon-bar{
                background:#563d7c;
            }
        }
    }
    .navbar-collapse{
        .navbar-nav{
            li.active{
                a{
                    &:hover{
                        color:#463265;
                        background:#f9f9f9;
                    }
                }
            }
        }
    }
}

// 消息弹出框
.jk-info-box{
   display:none;
}

//简短介绍
.jk-docs-header{
   background:#6f5499;
   color:#cdbfe3;
   padding:4rem 0;
   .title{
    color:#fff;
   }
}

// 页面内容

// 京东呼吸灯

.jk-docs-carousel{
    position:relative;
    margin:{
        top: 2rem;
    }
    &:hover{
        .arrow{
            display:block;
        }
    }
    .indicators{
        position:absolute;
        bottom: 10%;
        left: 50%;
        margin-left: -4rem;
        .item{
            display:inline-block;
            width:0.5rem;
            height:0.5rem;
            border-radius:50%;
            background:#fff;
            margin: 0 0.2rem;
            &.active{
                background:#f00;
            }
        }
    }
}

.slider{
    width:100%;
    height: 340px;
    // margin: 0 auto;
    overflow:hidden;
    position:relative;
    li.item{
        position:absolute;
        height:100%;
        img{
            width:100%;
            height:100%;
        }
        &:first-child{
            display:block;
        }
    }
}

// 箭头

.arrow{
    display:none;
    span.glyphicon{
        position:absolute;
        top: 60%;
        background:rgba(255,255,255,.3);
        width:2rem;
        height:2rem;
        text-align:center;
        padding: 0.8rem 0;
    }
    .arrow-left{
        left:1rem;
    }
    .arrow-right{
        right:1rem;
    }
}

// 手风琴效果
.jk-docs-accordion{
    overflow:hidden;
}
.accordion{
    height: 200px;
    .item{
        width:8rem;
        height:100%;
        float:left;
        // &:nth-child(1){
        //     background-image:url('../images/image1.jpeg');
        // }
        // &:nth-child(2){
        //     background-image:url('../images/image2.jpeg');
        // }
        // &:nth-child(3){
        //     background-image:url('../images/image3.jpeg');
        // }
        // &:nth-child(4){
        //     background-image:url('../images/image4.jpeg');
        // }
    }
}

// 手风琴效果2

.parentWrap{
    width: 100%;
    overflow:hidden;
    border:1px solid #ddd;
    margin:1rem auto;
    .menuGroup{
        width:100%;
        .groupTitle{
            display:block;
            background:#ece0ff;
            width:100%;
            padding: 0.3rem 0;
            text-align:center;
            border:{
                bottom:2px solid #ccc;
            }
        }
        .content{
            display:none;
            width:100%;
            height:6rem;
            padding:0.3rem;
        }
    }
}
.menuGroup:first-child .content{
    display:block;
}

// tab选项卡
.jk-docs-tab{
.tabs{
    height:auto;
    overflow:hidden;
    margin:{
        top: 1rem;
    }
    .tab-item{
        float:left;
        text-align:center;
        padding: 0.4rem 0.5rem;
        background: rgba(0,0,0,.2);
        margin: 0 0.3rem;
        border-radius: 4px;
        color: #fff;
        border-top: 2px solid #f5f5f5;
        &:hover{
            background: rgba(0,0,0,.3);
        }
        span.glyphicon{
            padding:{
                right: 0.3rem;
            }
        }
    }
    .active{
            border-top-color:#fc0;
            span.glyphicon{
                color: #fc0;
            }
        }
}
.products{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    .product-item{
        height: 100%;
        float:left;
        display:none;
        img{
        width:100%;
        height: 100%;
      }
    }
  .product-item.selected{
            display:block;
        }
 }
}


// 突出展示案例

.exhibition-box{
    overflow:hidden;
    margin:{
        top: 2rem;;
    }
    li{
        float:left;
        height:200px;
        border:1px solid #333;
        padding: 0.3rem;
        // opacity:0.2;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }
    }
}

// 美女相册

.jk-docs-imagegallery{
    .small-image{
        border: 1px solid #f5f5f5;
        border-radius:5px;
        .item{
            height: 6rem;
            img{
                width:100%;
                height:100%;
            }
        }
    }
    .large-image{
        width: 100%;
        height: 18rem;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }
    }
    .desc{
        margin:{
            top:0.5rem;
        }
    }
}

// 弹幕效果
.barrage{
    height:14rem;
    position:relative;
    border:1px solid #ccc;
    border-radius:4px;
    margin:{
        top:1rem;
    }
    .area{
        width:100%;
        position:relative;
        height:12rem;
        padding-bottom:2rem;
        overflow:hidden;
        }
    .main-content{
        background:#ddd;
        text-align:center;
        width:100%;
        position:absolute;
        bottom:0;
        padding:0.3rem;
        .title{
            display:inline-block;
        }
        .barrage-text{
            padding:0.3rem;
            width: 20%;
            border-radius: 3px;
            border: 0;
            outline:none;
        }
        .submit-btn{}
    }
}

//表格删除
.jk-table-del{
    .btn-groups{
        margin-bottom:1rem;
    }
}

// 城市选择
.jk-city-select{
    h3{
       margin:{
           bottom: 1rem;
        }
    }
   .src-city,.tar-city{
    display:inline-block;
    width::10rem;
    height:10rem;
    padding: 1rem;
    text-align:center;
   }
   .btn-box{
    display:inline-block;
    vertical-align:top;
    button{
        display:block;
        width: 2rem;
        padding:0.3rem 0;
      }
   }
}

// 淘宝精品案例

.taobao-box{
    width:90%;
    height:15rem;
    overflow:hidden;
    border: 1px solid rgb(252,157,154);
    margin: 1rem auto;
    .left-wrapper,.right-wrapper{
        // width: 10%;
        height:100%;
        float:left;
        padding:0;
        line-height:3;
        li{
            padding:0.5rem 0;
            height:20%;
            text-align:center;
            background:rgb(255,245,247);
            border:{
                bottom: 1px solid rgb(252,157,154);
            }
            &:last-child{
                border:0;
            }
            a{
                color:#333;
                text-decoration:none;
             }
        }
        li.active{
            background:rgb(254,67,101);
            color:#fff;
            a{
                color:#fff;
            }
        }
    }
    .center-wrapper{
        float:left;
        overflow:hidden;
        padding:0;
        height:100%;
        li{
            height:100%;
        }
        img{
            width:100%;
            height:100%;
        }
    }
}

// 评论发布案例

.jk-docs-comments{
    .comment{
    display:block;
    width: 20rem;
    height: 4rem;
    border-radius: 4px;
    border-color: #ccc;
    resize:none;
    padding: 0.3rem;
    &:hover{
        outline:none;
    }
 }
 .send-btn{
    margin:{
        top:0.5rem;
    }
 }
}

// 星级评分

.stars-list{
    li.item{
        display:inline-block;
        margin:0 0.2rem;
        font-size:1rem;
        color:#fa709a;
    }
}

//显示不同透明度

.opacity-wrapper{
    li.item{
        background:#fa71cd;
        height:200px;
        text-align:center;
        line-height:10;
        color:#f1f1f1;
    }
}

//全选表单

.jk-select-table{
    min-height:360px;
    margin:{
        top:1rem;
    }
}

// 下拉菜单

.menu-wrapper{
    min-height:16rem;
    overflow:hidden;
    .first-menu-item{
        float:left;
        width:5rem;
        line-height:2.4;
        text-align:center;
        background:rgba(0,0,0,.55);

        &:hover{
            background:rgba(0,0,0,.7);
        }
        a{
            color:#fff;
            text-decoration:none;
        }
        .second-menu{
            border: 1px solid #f1f1f1;
            display:none;
        }
        .second-menu-item{
            width: 100%;
            background:#fff;
            padding: 0.2rem 0;
            border:{
                bottom:1px solid #f1f1f1;
            }
            box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
            &:last-child{
                border-bottom:none;
            }
            a{
                color: #333;
            }
        }
    }
}

// 音乐导航

.music-nav{
    width:80%;
    margin:0 auto;
    overflow-y:hidden;
    z-index:3;
    ul{
        margin-bottom:0;
    }
    .nav-item{
        height:100%;
        width:16%;
        float:left;
        text-align:center;
        padding: 0.4rem 0;
        background: #333;
        border:{
            right: 1px solid #fff;
        }
        position:relative;
        a{
            position:relative;
            z-index:3;
            color:#fff;
            text-decoration:none;
        }
        span{
            display:block;
            position:absolute;
            top: 60px;
            background:rgb(69,137,148);;
            width:100%;
            height:100%;
        }
    }
}
